# Node
node_modules/
.next/
out/
dist/
build/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.code-workspace

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Cache
.cache/
.turbo/
